html,
body{
    margin: 0;
}
#site{
    display: grid;
    grid-template-columns: 250px minmax(600px, 3fr);
    grid-template-rows: minmax(100px, 1fr) 8fr;
    height: 100vh;


}


#sidebar{
    background-color: blue;
    font-size: 20px;
    grid-area: span 2 / span 1;
    color: white;
    display: grid;
    grid-template-rows: 1fr 9fr;


}

#header{
    background-color: aqua;
    grid-area: span 1/ span 1;
    display: grid;

    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr 1fr;
    padding: 30px;



}

#header > #searchbar {
    grid-area: span 1 / span 3;

}

#header > #toprightprofile{

    grid-area: span 1 / span 2;
}

#header > #greeting{
    grid-area: span 1 / span 3;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;

    font-size: 1.3em;
    
}

#header > #greeting > p{
    margin-left: 30px;
}

#header > #buttons { 
    grid-area: span 1 / span 2;
}



#content{
    background-color: red;
    grid-area: span 1 / span 1;
}

#sidebar > #title,
#sidebar > .settings{
    margin-left: 30px;
}

#sidebar > #title{
    margin: 20px;
    font-size: 2em;
}

#sidebar > .settings{
    font-size: 1.3em;
}
#sidebar > .settings > ul{
    list-style: none;
}
#sidebar > .settings > ul > li{

    margin-bottom: 15px;

}

.searchbarstyle{

    display: flex;
    align-items: center;
    border: solid;
    grid-area: span 1 / span 3;
}

.profile{
    display: flex;
    justify-content: end;
    grid-area: span 1 / span 2;
    align-items: center;
    font-weight: bold;


}

.headerbuttons{
    display: flex;
    justify-content: space-around;
    justify-items: center;
    height: 100%;
    align-items: center;
    grid-area: span 1 / span 2;
    border: solid;
}

.headerbuttons > button{
    height: 75%;
    width: 20%;
    border-radius: 15%;
}




.searchbarstyle > input{
    border-radius: 15px;
    background-color: gainsboro;
    flex: 0.75;
}

.profileimage{
    border-radius: 50%;
    height: 90%;
    max-height: 60px;
    max-width: 100%;
    object-fit: contain;
}