html,
body{
    margin: 0;
    height: 100vh;

}
#site{
    display: grid;
    grid-template-columns: 250px minmax(600px, 3fr);
    grid-template-rows: minmax(150px, 1fr) 14fr;
    height: 100vh;


}


#sidebar{
    background-color: #15752a;
    font-size: 20px;
    grid-area: span 3 / span 1;
    color: white;
    display: grid;
    grid-template-rows: 1fr 9fr;


}


#sidebar > #title,
#sidebar > .settings{
    margin-left: 30px;
}

#sidebar > #title{
    margin: 20px;
    font-size: 2em;
}

#sidebar > .settings{
    font-size: 1.3em;
}
#sidebar > .settings > ul{
    list-style: none;
}
#sidebar > .settings > ul > li{

    margin-bottom: 15px;

}

#header{
    background-color: #4a9e42;
    box-shadow: 0 0 30px #333;
    grid-area: span 1/ span 1;
    min-width: 940px;
    display: grid;

    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr 1fr;
    padding: 30px;



}

#header > #searchbar {
    grid-area: span 1 / span 3;

}

#header > #toprightprofile{

    grid-area: span 1 / span 2;
}

#header > #greeting{
    grid-area: span 1 / span 3;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;

    font-size: 1em;
    
}

#header > #greeting > p{
    margin-left: 30px;
}

#header > #buttons { 
    grid-area: span 1 / span 2;
}


.searchbarstyle{

    display: flex;
    align-items: center;
    border: solid;
    grid-area: span 1 / span 3;
}

.profile{
    display: flex;
    justify-content: end;
    grid-area: span 1 / span 2;
    align-items: center;
    font-weight: bold;


}

.headerbuttons{
    display: flex;
    justify-content: space-around;
    justify-items: center;
    height: 100%;
    align-items: center;
    grid-area: span 1 / span 2;
    border: solid;
}

.headerbuttons > button{
    height: 75%;
    width: 200px;
    border-radius: 15%;
}




.searchbarstyle > input{
    border-radius: 15px;
    background-color: gainsboro;
    flex: 0.75;
}

.profileimage{
    border-radius: 50%;
    height: 90%;
    max-height: 40px;
    max-width: 100%;
    object-fit: contain;
}



#content{
    display: grid;

    min-width: 1000px;

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 5fr 5fr 5fr 1fr;


    background-color: #ad7242;
    box-shadow: 0 0 30px #333;

    grid-area: span 1 / span 1;
}

#content > #projectheader{
    display: flex;
    grid-area: span 1 / span 3;
    align-items: flex-end;
    justify-content: space-between;
    margin-left: 10px;
    font-size: 1.5rem;


}

#content > #projectheader > #announcements{
    margin-right: 30px;
}


#content > ul{
    grid-area: span 3 / span 2;
    background-color: aqua;



    list-style-type: none;
    margin: 0;
    padding: 0;

    



    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

#content > ul > li{
        
    margin: 1em;

    height: minmax(200px, 1fr);
    width: minmax(300px, 1fr);
    background-color: white;


}




#content > #rightside{
    grid-area: span 3 / span 1;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 7fr 1fr 7fr;

    margin-left: 1em;
    margin-right: 1em;



}

#content > #rightside > #announcements, #trending{

    height: 100%;
    width: 100%;
    background-color: #15752a;
    border-radius: 15px;

}

#content > #rightside > #announcements{
    grid-area: span 1 / span 1;

}

#content > #rightside > #trendheader{
    grid-area: span 1 / span 1;
    font-size: 1.5rem;
    display: flex;
    align-items: flex-end;
    margin-bottom: 10px;
}
#content > #rightside > #trending{
    background-color: red;

}